---
layout: default
---

<div class="home">
  <div id="page-h-container">
    <h1 class="page-heading">{{ site.title }}</h1>
    <div id="coffee-container">
      <div id="coffee"></div>
    </div>
  </div>

  <div id="content-container">
    {{ content }}
  </div>

  {%- if site.posts.size > 0 -%}
    <div id="post-list-h-container">
      <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    </div>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <div class="post-container">
          <div class="paws"></div>
          <div class="inner-post-container">
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </div>
        </div>
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    <script>
      var coffeeContainer = document.getElementById('coffee-container');
      var coffeeSvg = document.getElementById('coffee');
      var paws = document.getElementsByClassName("paws");
      var dMenu = 1;
      var coffeeLottie = lottie.loadAnimation({
        container: coffeeSvg,
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: 'lottie/coffee.json'
      });

      coffeeContainer.addEventListener('mouseenter', (tax) => {
        coffeeLottie.setDirection(-dMenu);
        coffeeLottie.play({ autoplay: true })
      });
      coffeeContainer.addEventListener('mouseleave', (tax) => {
        coffeeLottie.setDirection(dMenu);
        coffeeLottie.play({ autoplay: true })
      });

      for (let w = 0; w < paws.length; w++) {
        var postContainer = document.querySelector(".post-container").closest("div")

        let paw = lottie.loadAnimation({
          container: paws[w],
          renderer: 'svg',
          loop: false,
          autoplay: false,
          path: 'lottie/paws.json'
        });
        postContainer.addEventListener('mouseenter', (tax) => {
          paw.setDirection(dMenu);
          paw.play();
        });
        postContainer.addEventListener('mouseleave', (tax) => {
          paw.setDirection(-dMenu);
          paw.play();
        });
      }
    </script>
  
  {%- endif -%}

</div>
